/*body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}*/

*{
    /*margin: 0;*/
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    padding-bottom: 58px;
    min-height: 100vh;
}
/*header{
    position: fixed;
 */
.navegacion{
    width: auto;
    margin: 30px auto;
    background: #005883;
    text-align: center;
    border-radius: 10px;
}
.navegacion ul{
    list-style: none;
}
.menu > li{
    position: relative;
    display: inline-block;
    text-align: justify;
}
.menu > li > a{
    display: block;
    padding: 15px 90px;
    color: whitesmoke;
    text-decoration: none;
}
.menu li a:hover{
    transition: all .3s;
    background-color: #F0B429;
}
.menu ul a:hover{
    transition: all .3s;
    background-color:#005883;
}
.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}
.submenu{
    position: absolute;
    background-color: #F0B429;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}
.submenu li a{
    display: block;
    padding: 15px;
    color:whitesmoke;
    text-decoration: none;   
}
h1{
    text-align: center;
    box-shadow: 1px 1px 3px 3px #B3B3B3;
    background-color: #F47920;
    padding: 10px;
} 
h1,h2,h3{
    color:#005883;
}   
p{
    font-size: 20px;
}   
 div{
    background-color: #F0B429;
    width: 68%; 
    height: 100%;  
    margin:20px;
    padding:20px;
    box-shadow: 1px 1px 3px 3px #B3B3B3;
    border-radius: 15px;
} 
/*.articulo{
    background-color: #F0B429;
    width: 40%; 
    height: 100%;  
    margin:20px;
    padding:20px;
} */
/*.wrapper{
    width: 60%;
    text-align: justify;
    background-color: #F0B429;;
}*/
/*
.cajatwitter{
    position: absolute;
    top: 351px;
    bottom:0px;
    right:0px;
    float: right;
}*/
footer{
    text-align: center;
    box-shadow: 1px 1px 3px 3px #808080;
    background-color: #B3B3B3;
    padding: 10px;
    position: relative;
    bottom: 0%;
    width: 100%;
 }    
 .foto{
    position: absolute;
    top: 352px;
    bottom:0px;
    right:0px;
    float: right;
}
section{
    background-color: #F0B429;
    width: 80%; 
    height: 100%;  
    margin:20px;
    padding:20px;
    box-shadow: 1px 1px 3px 3px #B3B3B3;
}
img{
    border-radius: 15px;
}
.clasediv{
    background: #B3B3B3;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    box-shadow: 1px 1px 3px 3px #808080;
}
aside{
	display: inline-block;
    width: 30%;
	min-height: 585px;
    float: right;
    
}